.divPrinc{
    margin-top: 10mm;
    display: flex;
    flex-direction: column;
    background-color: rgba(240, 246, 246);
    width: 500px;
    height: auto;
    align-items: center;
    border: solid 1mm darkviolet;
    border-radius: 5mm;
    margin-left: auto;
    margin-right: auto; 
}

.img {
    width: 500px;
    border-radius: 5mm;
}

.input {
    border-radius: 2mm;
    padding: 2mm;
    border: solid 1mm black;
    align-items: center;
    display: inline-block;
    width: 200px;
}

.label{
    font-family: calibri;
    font-size: 20px;
    font-weight: bolder;
    display: block; 
    margin: left;
}

.submit{
    background-color: violet;
    color: black;
    border-radius: 2mm;
    width: 20mm;
    height: 8mm;
    text-align: center;
    align-items: center;
    font-size: 18px;
    font-weight: bolder;
    font-family: Calibri;
    margin: 2mm;
}

p {
    font-family: calibri;
    font-weight: bolder;
    color: red;
}