.img{
    margin-top: 2mm;
    border-radius: 12px;
    border: 1mm solid black;
    height: 600px;
    width: 750px;
}

.h2 {
    font-family: Calibri;
    font-size: 30px;
    text-align: center;
    -webkit-text-stroke: 1px black;
    color: white;
    margin: 2mm;
    background-color: darkviolet;
  }

  .div{
    margin-top: 10mm;
    border-radius: 15px;
    display: grid;
    justify-content: center;
}