.divsch {
  display:inline-block;
  align-items: right;
  margin-top: -1.5 mm;
  height: 10mm;
  padding: 1mm;
}

.btn {
  background-color: lightseagreen;
  color: black;
  border-radius: 2mm;
  width: 20mm;
  height: 8mm;
  text-align: center;
  font-size: 14px;
  font-weight: bolder;
  font-family: tahoma;
  margin-left: 2mm;
  margin-right: 5mm;
}

.input {
  border-radius: 10px;
  height: 8mm;
  width: 100mm;
}
