.divsch {
display: flex;
  justify-content: right;
  align-items: center;
  height: 10mm;
}

.btn {
  background-color: midnightblue;
  color: white;
  border-radius: 2mm;
  width: 20mm;
  height: 8mm;
  text-align: center;
  font-size: 14px;
  font-weight: bolder;
  font-family: tahoma;
  margin-left: 2mm;
  margin-right: 5mm;
}

.input {
  border-radius: 10px;
  height: 8mm;
  width: 100mm;
}
