nav {
  display: flex;
  justify-content: end;
  background-color:rgba(6,37,31);
  height: 10mm;
  border: solid green 0.5mm;
  padding: 1mm;
}

.imglogo {
  display:inline-block;
  align-items: right;
  height: auto;
}

.btn {
  background-color: lightseagreen;
  color: black;
  border-radius: 2mm;
  width: 20mm;
  height: 8mm;
  text-align: center;
  font-size: 14px;
  font-weight: bolder;
  font-family: tahoma;
  margin-left: 2mm;
  margin-right: 5mm;
  margin-top: 1.5mm;
}
