nav {
  display:flex;
  justify-content: flex-end;
  background-image: url(https://i.pinimg.com/originals/47/25/94/4725945feb0214c458718aad71a4f95b.jpg);
  height: 10mm;
  border: solid darkviolet 0.5mm;
  padding: 1mm;
}

.btn {
  background-color: violet;
  color: black;
  border-radius: 2mm;
  width: 20mm;
  height: 8mm;
  text-align: center;
  font-size: 14px;
  font-weight: bolder;
  font-family: tahoma;
  margin-left: 2mm;
  margin-right: 5mm;
  margin-top: 1.5mm;
}
